.bg{
    background-size: cover;
    background-image: url('https://t3.ftcdn.net/jpg/02/68/34/62/240_F_268346293_EAS1EtqLEUGINfRs6SUxI5EA6fNvUOJY.jpg');
    width: 100%;
    height: 700px;
}

.social{
    background-size: cover;
    background-image: url('/image/DV01.jpg');
    width: 100%;
    /* margin: auto; */
    height: 700px;
}

.bgc{
    background-color: rgb(59, 81, 113);
}

.Tooth{
   color: rgb(29, 136, 186);
}