.bg{
    background-size: cover;
    background-image: url('/image/group\ image\ banner-4.jpg');
    width: 100%;
    height: 700px;
}

.social{
    background-size: cover;
    background-image: url('/public/image/DV01.jpg');
    width: 100%;
    /* margin: auto; */
    height: 700px;
}

.bgc{
    background-color: rgb(89, 82, 136);
}